{{ form_start(form) }}
    {{ form_errors(form) }}

<div class="form-control">
    {{ form_label(form.HowMany) }}
    {{ form_errors(form.HowMany) }}
    {{ form_widget(form.HowMany) }}
</div>

<div class="form-control">
    {{ form_label(form.whereByTo) }}
    {{ form_errors(form.whereByTo) }}
    {{ form_widget(form.whereByTo) }}
</div>

<div class="form-control">
    {{ form_widget(form.save) }}
</div>

{{ form_end(form) }}