{{ form_start(form) }}
    {{ form_errors(form) }}

<div class="labelholder">
    {{ form_label(form.HowMany, 'How many people will be attending') }}
    {{ form_errors(form.HowMany) }}</div>
 <div>   {{form_widget(form.HowMany, {'attr': {'class': 'ddbox'}}) }}
</div>

<div class="labelholder">
    {{ form_label(form.whereByTo, 'Where would you like to come?') }}
    {{ form_errors(form.whereByTo) }}</div>
    <div> {{ form_widget(form.whereByTo, {'attr': {'class': 'ddbox'}}) }}
</div>

<div class="clear">
    {{ form_widget(form.save) }}
</div>

{{ form_end(form) }}