{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ajmcmc/css/boilerplate.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ajmcmc/css/layout1.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/ajmcmc/css/preregister.css') }}" rel="stylesheet" />
{% endblock %}
{% block title %}
    Register for the CMC2 Open Event
{% endblock %}

{% block body %}



    <div class="gridContainer clearfix">
        {% include 'AJMCMCBundle:Default:Blocks/Header.html.twig' %}
        <div id="column1">
            <div class="textcontainer">
                <h1>Pre-registration Complete!</h1>
                <p>  Thank you for pre-registering with CMC2. You have registered {{ HowMany }} people for the Open Event at <strong>{{ whereByTo }} </strong> we look forward to meeting you.</p>
                <p>Your unique registration number is <strong>OE0CMC2</strong> - you might want to write that down or print this page to keep for your records.</p>
                <p>Please take a while to study the location map and maybe visit the our website.</p>
            </div>
            <div class="textcontainer">

                <h1>Socialise!</h1>
                <p>Let your family, friends and followers know about this great event!          </p>
                <div class="smedia">
                    <img  width="80" height="80"  src="{{ asset('/bundles/ajmcmc/images/facebook.png') }}" alt="Facebook" />

                    <img width="80" height="80" src="{{ asset('/bundles/ajmcmc/images/twitter.png') }}" alt="Twitter" />

                </div>

            </div>
        </div>
        <div id="column2">
            {% include 'AJMCMCBundle:Default:Blocks/maps.html.twig' %}
        </div>
        {% include 'AJMCMCBundle:Default:Blocks/Footer.html.twig' %}
    </div>

{% endblock %}

